# Contianment Breach
[Ss]aves/*
error_log_*

# Blitz3D
*FastExt.bb
*FastText_Unicode.bb
*FastImage.bb
*.bb.rej
*.bb_bak*

# C-Sharp
[Bb]in/
[Oo]bj/
[Dd]ebug/

# IDEal
*.ipf
*.iws

# Visual Studio Code
.vscode

# Windows
Thumbs.db

# macOS
*.DS_Store