[submodule "Engine"]
	path = Engine
	url = git@github.com:juanjp600/pge.git
	branch = main
	
[submodule "Libraries/angelscript"]
	path = Libraries/angelscript
	url = git@github.com:SCP-CBN/angelscript.git

[submodule "Libraries/freetype"]
	path = Libraries/freetype
	url = git@github.com:SCP-CBN/freetype.git
	branch = pr

[submodule "Libraries/tinyxml2"]
	path = Libraries/tinyxml2
	url = git@github.com:SCP-CBN/tinyxml2.git
[submodule "Libraries/assimp"]
	path = Libraries/assimp
	url = git@github.com:assimp/assimp.git
