# Contianment Breach
Saves/*
error_log_*

# Blitz3D
*FastExt.bb
*FastText_Unicode.bb
*FastImage.bb
MapSystem.bb.rej
UpdateEvents.bb.rej
*.bb_bak*

#Ideal
*.ipf
*.iws

# Visual Studio Code
.vscode

# Windows
Thumbs.db

# macOS
*.DS_Store